{% extends "base.html" %}

{% block page_title %}
    Delete Aircraft
{% endblock page_title %}

 

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex mt-5 align-items-center justify-content-center bg-light p-3" style="border-radius: 8px;">
                    <div class="container d-flex mt-5 align-items-center justify-content-center">
                        <p class="text-black">
                            Are you sure you want to delete the aircraft named <strong>{{aircraft.manufacturer_serial_number}} - {{aircraft.type}} / {{aircraft.model}}</strong>?
                         </p>
                    </div>
                    <div class="conteiner d-flex align-items-center justify-content-center mb-3 mt-2">
                        <form action="{% url "aircraft_delete" aircraft.id %}" method="POST"> 
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-danger" type="submit">Yes!</button>
                                </div>
                                <div class="col-6">
                                    <a href="{% url "aircraft_list" %}" class="btn btn-success">No</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


{% endblock content %}
