{% extends "base.html" %}

{% block page_title %}
    Create Airline
{% endblock page_title %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <form action="{% url "airline_create" %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Airline Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="callsign" class="form-label">Callsign</label>
                        <input type="text" class="form-control" name="callsign" placeholder="Enter Callsign" required>
                    </div>
                    <div class="mb-3">
                        <label for="base_air" class="form-label">Base Airport</label>
                        <input type="text" class="form-control" name="base_air" placeholder="Enter Base Airport" required>
                    </div>
                    <div class="mb-3">
                        <label for="founded_year" class="form-label">Airport Founded Year</label>
                        <input type="number" class="form-control" name="founded_year" placeholder="Enter Founded Year" required>
                    </div>
                    <button type="submit" class="btn btn-primary">CREATE</button>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}
