<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_files %}{% endblock css_files %}
    <title>Airline App | {% block page_title %}{% endblock page_title %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    {% block js_script %}{% endblock js_script %}



</head>

<body>
    {% include "partials/nav_bar.html" %}

    <div class="container">
      {% block content %} 
      {% endblock %}
    </div>

    {% block js_files %}{% endblock js_files %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
